#root {
    min-height: 100vh;
    min-width: 100vh;
    text-align: center;
}

body {
    background-image: url(/img/background.jpg);
    background-position: center;
    object-fit: fill;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header img {
    padding: 3rem;
    height: 20rem;
}

.searchSection {
    width: 35rem;
    display: flex;
}

#search {
    height: 3rem;
    font-size: 18px;
    background-color: #8ea72c;
}
#search:hover {
    transform: scale(1.25);
    transition: ease-in-out 2s;
    background-color: #42b4ca;
}

main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    gap: 2rem;
    margin: 3rem;
}

.card {
    width: 18rem;
}
.card:hover {
    transform: scale(1.1);
    transition: ease 2s;
}

.cardBody {
    height: 14rem;
    display: flex;
    flex-direction: column;
}
.cardBody:hover {
    cursor: default;
}

.card h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
    font-weight: bolder;
    color: #42b4ca;
}
.card h2:hover {
    cursor: default;
}

#status,
#species,
#origin {
    color: #8ea72c;
}

@media (min-width: 1300px) {
    main {
        grid-template-columns: repeat(4, auto);
        justify-content: space-around;
        gap: 3rem;
        margin: 3rem;
    }

    .card {
        width: 24rem;
        font-size: 18px;
    }
    .card h2 {
        font-size: 28px;
    }
}
