#root {
    min-height: 100%;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header img {
    padding: 3rem;
    height: 20rem;
}

.searchSection {
    width: 35rem;
    display: flex;
}

input:hover {
    transform: scale(1.5);
    transition: ease-in-out 2s;
}

main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    gap: 2rem;
    margin: 3rem;
}

.card {
    width: 18rem;
}

.cardBody {
    height: 14rem;
    display: flex;
    flex-direction: column;
}

.card h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
    font-weight: bolder;
}

@media (min-width: 1300px) {
    main {
        grid-template-columns: repeat(4, auto);
        justify-content: space-around;
        gap: 3rem;
        margin: 3rem;
    }
}
