#root {
    min-height: 100%;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header img {
    padding: 3rem;
    height: 20rem;
}

.searchSection {
    width: 35rem;
}

main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    gap: 2rem;
    margin: 3rem;
}

.card {
    width: 18rem;
}

.cardBody {
    height: 14rem;
    display: flex;
    flex-direction: column;
}
